@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@font-face {
    font-family: dream_only;
    src: url("../assets/dream_only.woff2") format("opentype");
}

@font-face {
    font-family: grape_nuts;
    src: url("../assets/grape_nuts.ttf") format("truetype");
}

@font-face {
    font-family: oswald;
    src: url("../assets/oswald.ttf") format("truetype");
}

body {
    background-color: #eeeeee;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
