.sidebar-navigational-bar {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: rgb(250, 250, 250);

    .list-links {
        ul{
            text-align: center;
            color: #333333;
            font-weight: bolder;
            font-size: 5em;
        }
        li {
            cursor: pointer;
        }
    }
}

.active-sidebar {
    animation: fade-in-sidebar 0.5s ease forwards;
    @keyframes fade-in-sidebar {
        from {
            opacity: 0;
            visibility: hidden;
        }
        to {
            opacity: 1;
            visibility: visible;
        }
    }
}

.inactive-sidebar {
    animation: fade-out-sidebar 0.5s ease forwards;

    @keyframes fade-out-sidebar {
        from {
            opacity: 1;
            visibility: visible;
        }
        to {
            opacity: 0;
            visibility: hidden;
        }
    }
}
