.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12em;

    h2 {
        font-family: dream_only;
        color: #222222;
        font-weight: bolder;
        text-shadow: 1px 10px 50px white;
        opacity: 0;
        animation: fade-in 1s ease forwards;
        animation-delay: 1s;
    }

    p {
        text-align: center;
        margin-top: 2em;
        font-family: grape_nuts;
        color: #222222;
        font-weight: bolder;
        text-shadow: 1px 3px 1px rgb(253, 253, 253);
        opacity: 0;
        animation: fade-in 1s ease forwards;
        animation-delay: 2s;
    }

    .cta-btns {
        margin-top: 10vh;
        display: flex;
        gap: 4em;
        font-size: 1.1em;
        opacity: 0;
        animation: fade-in 1s ease forwards;
        animation-delay: 2.5s;

        img {
            width: 20px;
            opacity: 0;
            transition: all 0.2s ease;
        }

        button:hover {
            img {
                opacity: 1;
            }
        }

        button {
            display: flex;
            img {
                padding-top: 45px;
            }
        }

        .navigate-to-blog {
            transform: rotate(180deg);
            padding-bottom: 38px;
        }

        @media (min-width: 640px) {
            gap: 6em;
        }
        @media (min-width: 768px) {
            gap: 7em;
        }
        @media (min-width: 1024px) {
            gap: 10em;
        }
    }

    .cta-down {
        opacity: 0;
        animation: fade-in 1s ease forwards;
        animation-delay: 3s;
        position: relative;
        bottom: -160px;
        left: 0;
        transition: all 0.1s ease;

        &:hover {
            bottom: -155px;
        }

        img {
            width: 60px;
            transform: rotate(180deg);
            margin-left: 30px;
        }
    }
}
